{% extends "base.html" %}
{% load static %}

{% block title %}Генерация отчёта{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/genOtch.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/genOtch.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="container report">
        <h1>Генератор Excel файлов</h1>
        <form action="{% url 'generate_report_form' %}" method="post" id="report-form">
            {% csrf_token %}
            <label for="operation_number">Введите номер операции:</label>
            <input type="text" id="operation_number" name="operation_number" required>
            <span id="error-message" class="error"></span>
            <button type="submit" id="submit-button">Сгенерировать отчет</button>
        </form>
        <div id="loading-spinner" class="loading hidden">
            <div class="spinner"></div>
            <p>Генерация отчета...</p>
        </div>
    </div>
{% endblock %}