{% extends "base.html" %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h1>Восстановление пароля</h1>
    <form method="post">
        {% csrf_token %}
        
        <label for="id_first_name">Имя</label>
        <input type="text" name="first_name" id="id_first_name" placeholder="Введите ваше имя" required>
        
        <label for="id_last_name">Фамилия</label>
        <input type="text" name="last_name" id="id_last_name" placeholder="Введите вашу фамилию" required>

        <label for="id_email">Email</label>
        <input type="email" name="email" id="id_email" placeholder="Введите вашу почту" required>

        <button type="submit">Отправить запрос</button>
    </form>
</div>
{% endblock %}
