body {
    background-color: #6f9de8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p{
    margin-top: 10px;
}

.login-container {
    width: 24rem;
    height: auto;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3a78f2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.login-container button[type="submit"]:hover {
    background-color: #2b5ec9;
}

.login-container a {
    display: block;
    margin-top: 10px;
    color: #3a78f2;
    text-decoration: none;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}

.password-container button {
    outline: none;
    position: absolute; 
    top: 50%; 
    right: 10px;
    transform: translateY(-50%); 
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; 
    height: auto; 
}

.password-container button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    pointer-events: none;
}