#operationsTable, #productsTable {
    max-height: 400px;
    overflow-y: auto;
    display: block;
    width: 100%;
}

#operationsTable::-webkit-scrollbar, #productsTable::-webkit-scrollbar {
    width: 8px;
}

#operationsTable::-webkit-scrollbar-thumb, #productsTable::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#operationsTable::-webkit-scrollbar-thumb:hover, #productsTable::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1; 
}

#operationsTable th, #productsTable th {
    background-color: #f8f9fa;
}